* {
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.logo {
    color: #6070ff;
    width: 76px;
    height: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.icon-div {
    width: 50%
}

.icon {
    float: right;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    box-shadow: 0 0.25px 8px 0 rgb(0, 0, 255, 0.2);
    position: fixed;
    width: 100%;
}

header a {
    text-decoration: none;
}



.mobile-hidden {
    display: none;
}

.desktop-hidden {
    display: block;
}

.bio-section {
    display: flex;
    flex-direction: column;
    padding: 150px 40px;
    font-family: "Poppins", sans-serif;
}

.bio-section h1 {
    font-size: 300%;
    margin-bottom: 0;
}

.bio-section p {
    font-weight: 400px;
    font-size: 20px;
    line-height: 28px;
}

.bio-section a {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 10px 0;
    color: #6070ff;
}

.card {
    background: white;
    display: flex;
    border-radius: 20px;
    border: 1px solid silver;
    padding: 40px;
    margin: 60px 40px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.mobile-card {
    flex-direction: column;
}

.card-img-div img {
    width: 100%;
}

.card h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
}

.card-highlights {
    font-weight: 400;
    font-size: 9px;
    line-height: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: baseline;
    width: -100px;
}

.card-highlights img {
    width: 10px;
    height: 8px;
    color: #7a869a;
}

.card-tags {
    background: #ebebff;
    color: #6070ff;
    border-radius: 8px;
    border: none;
}

.card-btn {
    color: #7f8cff;
    border: 1px solid #7f8cff;
    width: 115px;
    height: 40px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background-color: white;
    border-radius: 8px;
}

.card-details-div div {
    margin-bottom: 15px;
}

.desktop-card {
    display: none;
}








@media only screen and (min-width: 786px) {
    .desktop-hidden {
        display: none;
    }

    .mobile-hidden {
        display: block;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .nav-links ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
    }

    .nav-links ul li {
        flex: 1;
    }

    .nav-links ul li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        margin-right: 40px;
    }

    .nav-link {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        color: #6070ff;
        display: inline-block;
    }

    .card {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .desktop-card>div {
        width: 50%;
    }

    .desktop-card>div:nth-child(2) {
        width: 50%;
        margin-left: 40px;
    }


    .mobile-card {
        display: none;
    }

}